<div class="container">
    <div class="section">
        <div>
            <div class="left">
                <p>
                    Plantar árvores frutíferas é uma prática extremamente
                    importante para o meio ambiente e para a sociedade como um
                    todo. Além de produzirem frutas deliciosas e nutritivas,
                    essas árvores têm diversos benefícios que impactam
                    positivamente em nossa qualidade de vida.
                </p>
                <img
                    src="../../../assets/images/img2.jpg"
                    alt="Descrição da imagem"
                />
            </div>
        </div>
        <div>
            <div class="right">
                <img
                    src="../../../assets/images/img2.jpg"
                    alt="Descrição da imagem"
                />
                <p>
                    Uma das principais vantagens de plantar árvores frutíferas é
                    o papel que elas desempenham na preservação do meio
                    ambiente. Elas ajudam a reduzir o dióxido de carbono na
                    atmosfera, melhoram a qualidade do ar e ajudam a conservar o
                    solo. Além disso, essas árvores atraem polinizadores, como
                    abelhas e borboletas, que são essenciais para a manutenção
                    da biodiversidade.
                </p>
            </div>
        </div>
    </div>
    <div class="section">
        <div>
            <div class="left">
                <p>
                    Outra grande vantagem de plantar árvores frutíferas é que
                    elas fornecem alimentos frescos e saudáveis. As frutas
                    produzidas por essas árvores são ricas em vitaminas,
                    minerais e antioxidantes, o que ajuda a manter o corpo
                    saudável e prevenir doenças. Além disso, ter acesso a
                    alimentos frescos e locais ajuda a reduzir a dependência de
                    alimentos processados e importados, o que pode ajudar a
                    reduzir a pegada de carbono e os custos de transporte e
                    armazenamento.
                </p>
                <img
                    src="../../../assets/images/img2.jpg"
                    alt="Descrição da imagem"
                />
            </div>
        </div>
        <div>
            <div class="right">
                <img
                    src="../../../assets/images/img2.jpg"
                    alt="Descrição da imagem"
                />
                <p>
                    Por fim, plantar árvores frutíferas também pode ter um
                    impacto social positivo. Quando essas árvores são cultivadas
                    em áreas urbanas ou rurais, elas podem ajudar a melhorar a
                    qualidade de vida das pessoas que vivem nessas regiões. Além
                    de fornecerem alimentos frescos e saudáveis, as árvores
                    frutíferas também ajudam a criar espaços verdes que são
                    importantes para a saúde mental e física das pessoas.
                </p>
            </div>
        </div>
    </div>
</div>
